extends layout
block styles
	link(rel="stylesheet", href="/static/pages/info/info.css")

block content
	.ui.middle.aligned.center.aligned.grid
		.column
			h2.ui.header Personal Message
			form#info-form.ui.large.form(action="/user/info", method="POST")
				.ui.stacked.segment
					.required.field
						label 用户名
						.ui.left.icon.input
							i.user.icon
							input(type="text" name="username" placeholder="#{user.real_name}" value="#{user.real_name}" alt="#{user.real_name}")
					.field.required
						label 密码
						.ui.left.icon.input
							i.lock.icon
							input(type="password" name="password" placeholder="#{user.password}" value="#{user.password}")
					.field
						label 邮箱
						.ui.left.icon.input
							i.mail.icon
							input(type="mail" name="mail" placeholder="#{user.mail}" value="#{user.mail}")
					.field
						label 生日
						.ui.left.icon.input
							i.heart.icon
							input(type="birth" name="birth" placeholder="#{user.birth}" value="#{user.birth}")
					.ui.blue.submit.button ChangeMs
					.ui.error.message
block footer

block scripts
	script(src="/static/pages/info/info.js")
